/* Define custom fonts */

@font-face {
    font-family: "navFont";
    src: url('font/NeonSans-GOgRg.ttf');
}

@font-face {
    font-family: "Game Font";
    src: url('font/NeusharpBold-7B8RV.otf');
}

.H1title,
h3 {
    font-family: "Game Font";
    margin-top: 0px;
    background: linear-gradient(45deg, #5a33f7, rgb(0, 251, 255), rgb(247, 79, 245));
    /* text is used as the background crop object */
    -webkit-background-clip: text;
    background-clip: text;
    /* Make the text color transparent so that the background gradient can be seen */
    color: transparent;
}

p {
    font-family: "Game Font";
    margin-top: 0px;
    font-size: small
}

/* Global styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    margin: 0;
    cursor: url('cursor/Normal.cur'), auto
}

/* Header styles */
header {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    border: double 1px white;
    border-radius: 20px;
}

#logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

#websitename,
#subtitle {
    font-family: "navFont";
    font-size: xx-large;
    background: linear-gradient(45deg, #8d70ff, rgb(0, 251, 255), rgb(247, 79, 245));
    /* text is used as the background crop object */
    -webkit-background-clip: text;
    background-clip: text;
    /* Make the text color transparent so that the background gradient can be seen */
    color: transparent;
}

#subtitle {
    font-size: large;
    margin-left: 55px;
}

/* Main content styles */
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 20px 0 20px
}

#game-list {
    width: 10%;
    height: 100vh;
    overflow-y: auto;
    border: solid 1px #333333;
    border-radius: 10px;
}

#game-list :hover {
    cursor: url("cursor/Vertical\ resize.cur"), auto;
}

.game-div {
    display: flex;
    align-items: center;
    border-bottom: dashed 1px #333333;
}

.smallGameLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
}

#game-details {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Game Font"
}

.infoPic {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nextBtn {
    color: #8d70ff;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nextBtn :hover {
    cursor: url('cursor/Horizontal\ resize.cur'), auto;
    background-color: rgb(0, 130, 252)
}


.poster {
    width: 80%;
    border-radius: 10px;
    transform: scale(0.7)
}

#poster {
    transition: transform 0.3s, opacity 0.3s;
}

.infoPic:hover #poster {
    transform: scale(0.75);
    opacity: 0.8;
}

#details-text {
    margin: 0px 0px 20px 0px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Game Font"
}

/* Game form styles */
#game-form {
    margin-right: 20px;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    font-family: "Game Font"
}

.subBtn,
span,
.selected-game {
    font-family: "Game Font";
    color: rgb(0, 130, 252);
}

label,
input {
    display: block;
    text-align: right;
    margin-bottom: 10px;
    line-height: 1.5;
    color: rgb(0, 130, 252);
}